<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"  />
    <uses-permission android:name="android.permission.READ_CALENDAR"  />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnEnglish"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.SecondActivity4"
            android:exported="false" />
        <activity
            android:name=".Activity.GrammarActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VocaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FieldActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PrivacyActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/translate" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_700" />

        <activity
            android:name=".Activity.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Activity.SecondActivity3"
            android:exported="false" />
        <activity
            android:name=".Activity.SpeechActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SecondActivity2"
            android:exported="false" />
        <activity
            android:name=".Activity.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TranslatorActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Sample AdMob app ID: ca-app-pub-3994025609942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3994025609942544~3347511713" />
        <!--applovin app id and metadata -->
        <meta-data android:name="applovin.sdk.key"
            android:value="TNb1z4kZuFWFme9nctdXKzCaR9ZBBgkg3xp7hbaNRacC55QHkX2TbcZyX8nxyuW7BBlPUbtnQnlESO2f21SMEv"/>
    </application>

</manifest>